In [1]:
import pandas as pd
from sklearn.metrics import f1_score, confusion_matrix, classification_report,accuracy_score,roc_curve
import matplotlib.pyplot as plt
import seaborn as sns

df1 = pd.read_csv("datasets/bc5cdr/test.tsv", sep = "\t", names = ["words", "labels"])
print(df1.head(10))

df2 = pd.read_csv("results/bc5cdr/bc5cdr_Bio-bert-based_predictions.csv", sep = ",",)
print(df2.head(10))

import warnings
warnings.filterwarnings('ignore')

         words    labels
0   Famotidine  I-Entity
1            -         O
2   associated         O
3     delirium  I-Entity
4            .         O
5   Famotidine  I-Entity
6           is         O
7            a         O
8    histamine         O
9  H2-receptor         O
         words    labels
0   Famotidine  I-Entity
1            -         O
2   associated         O
3     delirium  I-Entity
4            .         O
5   Famotidine  I-Entity
6           is         O
7            a         O
8    histamine  I-Entity
9  H2-receptor  I-Entity

In [2]:
df1.describe()

        words labels
count   98682  98691
unique  10208      3
top         .      O
freq     3869  85331

In [3]:
df2.describe()

        words labels
count   98682  98691
unique  10208      3
top         .      O
freq     3869  88230

In [4]:
df1.describe()
(df1.isna().sum()/df1.shape[0]).sort_values(ascending=True)

labels    0.000000
words     0.000091
dtype: float64

In [5]:
df1.labels = df1.labels.str.replace("I-", "", case = False).str.replace("B-", "", case = False)
df1.labels

0        Entity
1             O
2             O
3        Entity
4             O
          ...
98686    Entity
98687    Entity
98688         O
98689    Entity
98690         O
Name: labels, Length: 98691, dtype: object

In [6]:
df1.head(5)

        words  labels
0  Famotidine  Entity
1           -       O
2  associated       O
3    delirium  Entity
4           .       O

In [7]:
df2.labels = df2.labels.str.replace("I-", "").str.replace("B-", "")
df2.labels

0        Entity
1             O
2             O
3        Entity
4             O
          ...
98686    Entity
98687         O
98688         O
98689    Entity
98690         O
Name: labels, Length: 98691, dtype: object

In [8]:
custom_labels1 = list(df1.labels.unique()) 
print(custom_labels1)

['Entity', 'O']

In [9]:
custom_labels2 = list(df2.labels.unique())
print(custom_labels2)

['Entity', 'O']

In [10]:
custom_labels_finale = list(set(custom_labels1 + custom_labels2))
print(custom_labels_finale)

['O', 'Entity']

In [11]:
print(df1.head(5))

        words  labels
0  Famotidine  Entity
1           -       O
2  associated       O
3    delirium  Entity
4           .       O

# Calculate precision, recall, and F1-score globally and for each unique label
    report = classification_report(test_df.labels, tdf.labels, labels=custom_labels, target_names=custom_labels, output_dict=True)
    # print(report)

    ## Create a data frame with the desired output
    data = {
        "modelName": [modelName ],
        "dataset": [datasetName],
        "accuracy_global": [round(report['weighted avg']['precision']*100, 2)],
        "recall_global": [round(report['weighted avg']['recall']*100, 2)],
        "f1_score_global": [round(report['weighted avg']['f1-score'] *100, 2)]
    }
    for label in custom_labels:
        data[f"accuracy_{label}"] = [round(report[label]['precision']*100, 2)]
        data[f"recall_{label}"] = [round(report[label]['recall']*100, 2)]
        data[f"f1_score_{label}"] = [round(report[label]['f1-score']*100, 2)]

    df = pd.DataFrame(data)
    df.to_csv(f'results/{datasetName}/{datasetName}_{modelName }_eval.csv', sep=",", index=False)
    return df

In [12]:
report = classification_report(df1['labels'], df2.labels, labels = custom_labels_finale, target_names = custom_labels_finale, output_dict = True)
print(report)

{'O': {'precision': 0.9542672560353621, 'recall': 0.9866871359763744, 'f1-score': 0.9702064403869533, 'support': 85331.0}, 'Entity': {'precision': 0.8914061753178473, 'recall': 0.6979790419161677, 'f1-score': 0.7829226312917175, 'support': 13360.0}, 'accuracy': 0.9476041381686273, 'macro avg': {'precision': 0.9228367156766046, 'recall': 0.842333088946271, 'f1-score': 0.8765645358393354, 'support': 98691.0}, 'weighted avg': {'precision': 0.945757624575695, 'recall': 0.9476041381686273, 'f1-score': 0.9448534528854349, 'support': 98691.0}}

In [13]:
datasetName = 'bc5cdr'
modelName = 'Bio-bert-based'

data = {
        "Bio-bert-based": [modelName ],
        "bc5cdr": [datasetName],
        "accuracy_global": [round(report['weighted avg']['precision']*100, 2)],
        "recall_global": [round(report['weighted avg']['recall']*100, 2)],
        "f1_score_global": [round(report['weighted avg']['f1-score'] *100, 2)]
    }
for label in custom_labels_finale:
        data[f"accuracy_{label}"] = [round(report[label]['precision']*100, 2)]
        data[f"recall_{label}"] = [round(report[label]['recall']*100, 2)]
        data[f"f1_score_{label}"] = [round(report[label]['f1-score']*100, 2)]

df = pd.DataFrame(data)
df.to_csv(f'results/{datasetName}/{datasetName}_{modelName }_corrected.csv', sep=",", index=False)