In [1]:
import pandas as pd
from sklearn.metrics import f1_score, confusion_matrix, classification_report,accuracy_score,roc_curve

df1 = pd.read_csv("datasets/jnlpba/test.tsv", sep = '\t', names = ["words", "labels"])
print(df1.head(10))

df2 = pd.read_csv("results/jnlpba/jnlpba_Bio-bert-based_predictions.csv", sep = ',')
print(df2.head(10))

import warnings
warnings.filterwarnings('ignore')

             words     labels
0        High-dose          O
1           growth          O
2          hormone          O
3             does          O
4              not          O
5           affect          O
6  proinflammatory  B-protein
7         cytokine  I-protein
8                (          O
9            tumor  B-protein
             words     labels
0        High-dose          O
1           growth          O
2          hormone          O
3             does          O
4              not          O
5           affect          O
6  proinflammatory  B-protein
7         cytokine  B-protein
8                (          O
9            tumor          O

In [2]:
df1.describe()

       words labels
count   2800   2800
unique   935     11
top        .      O
freq     104   2319

In [3]:
df2.describe()

       words labels
count   2800   2800
unique   935      8
top        .      O
freq     104   2581

In [4]:
df1.describe()
(df1.isna().sum()/df1.shape[0]).sort_values(ascending=True)

words     0.0
labels    0.0
dtype: float64

In [5]:
df2.describe()
(df2.isna().sum()/df2.shape[0]).sort_values(ascending=True)

words     0.0
labels    0.0
dtype: float64

In [6]:
df1.labels = df1.labels.str.replace("I-", "", case = False).str.replace("B-", "", case = False)
df1.labels.head(10)

0          O
1          O
2          O
3          O
4          O
5          O
6    protein
7    protein
8          O
9    protein
Name: labels, dtype: object

In [7]:
df1.head(10)

             words   labels
0        High-dose        O
1           growth        O
2          hormone        O
3             does        O
4              not        O
5           affect        O
6  proinflammatory  protein
7         cytokine  protein
8                (        O
9            tumor  protein

In [8]:
df2.labels = df2.labels.str.replace("I-", "", case = False).str.replace("B-", "", case = False)
df2.labels.head(10)

0          O
1          O
2          O
3          O
4          O
5          O
6    protein
7    protein
8          O
9          O
Name: labels, dtype: object

In [9]:
df2.head(10)

             words   labels
0        High-dose        O
1           growth        O
2          hormone        O
3             does        O
4              not        O
5           affect        O
6  proinflammatory  protein
7         cytokine  protein
8                (        O
9            tumor        O

In [10]:
custom_labels1 = list(df1.labels.unique()) 
print(custom_labels1)

['O', 'protein', 'cell_type', 'DNA', 'cell_line', 'RNA']

In [11]:
custom_labels2 = list(df2.labels.unique()) 
print(custom_labels2)

['O', 'protein', 'cell_type', 'DNA', 'RNA', 'cell_line']

In [12]:
custom_labels_finale = list(set(custom_labels1 + custom_labels2))
print(custom_labels_finale)

['protein', 'RNA', 'cell_line', 'DNA', 'O', 'cell_type']

In [15]:
report = classification_report(df1['labels'], df2.labels, labels = custom_labels_finale, target_names = custom_labels_finale, output_dict = True)
print(report)

{'protein': {'precision': 0.6459627329192547, 'recall': 0.3781818181818182, 'f1-score': 0.47706422018348615, 'support': 275.0}, 'RNA': {'precision': 0.6666666666666666, 'recall': 0.14634146341463414, 'f1-score': 0.24, 'support': 41.0}, 'cell_line': {'precision': 0.0, 'recall': 0.0, 'f1-score': 0.0, 'support': 8.0}, 'DNA': {'precision': 0.0, 'recall': 0.0, 'f1-score': 0.0, 'support': 15.0}, 'O': {'precision': 0.8810538550949244, 'recall': 0.9805950840879689, 'f1-score': 0.9281632653061224, 'support': 2319.0}, 'cell_type': {'precision': 0.8888888888888888, 'recall': 0.22535211267605634, 'f1-score': 0.35955056179775285, 'support': 142.0}, 'accuracy': 0.8628571428571429, 'macro avg': {'precision': 0.5137620239282891, 'recall': 0.28841174639341294, 'f1-score': 0.3341296745478936, 'support': 2800.0}, 'weighted avg': {'precision': 0.847985427526243, 'recall': 0.8628571428571429, 'f1-score': 0.837321233060942, 'support': 2800.0}}

In [17]:
datasetName = 'jnlpba'
modelName = 'Bio-bert-based'

data = {
        "Bio-bert-based": [modelName ],
        "jnlpba": [datasetName],
        "accuracy_global": [round(report['weighted avg']['precision']*100, 2)],
        "recall_global": [round(report['weighted avg']['recall']*100, 2)],
        "f1_score_global": [round(report['weighted avg']['f1-score'] *100, 2)]
    }
for label in custom_labels_finale:
        data[f"accuracy_{label}"] = [round(report[label]['precision']*100, 2)]
        data[f"recall_{label}"] = [round(report[label]['recall']*100, 2)]
        data[f"f1_score_{label}"] = [round(report[label]['f1-score']*100, 2)]

df = pd.DataFrame(data)
df.to_csv(f'results/{datasetName}/{datasetName}_{modelName }_corrected.csv', sep=",", index=False)