In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import f1_score, confusion_matrix, classification_report,accuracy_score,roc_curve
import matplotlib.pyplot as plt
import seaborn as sns

df1 = pd.read_csv("datasets/ncbi-disease/test.tsv", sep = "\t", names = ["words", "labels"])
print(df1.head(10))

df2 = pd.read_csv("results/ncbi-disease/ncbi-disease_Bio-bert-based_predictions.csv", sep = ",",)
print(df2.head(10))

import warnings
warnings.filterwarnings('ignore')

            words     labels
0      Clustering          O
1              of          O
2        missense          O
3       mutations          O
4              in          O
5             the          O
6          ataxia  B-Disease
7               -  I-Disease
8  telangiectasia  I-Disease
9            gene          O
            words     labels
0      Clustering          O
1              of          O
2        missense          O
3       mutations          O
4              in          O
5             the          O
6          ataxia  B-Disease
7               -          O
8  telangiectasia  B-Disease
9            gene          O

In [2]:
df1.describe()

        words labels
count   24487  24488
unique   3569      3
top         .      O
freq     1042  22441

In [3]:
df2.describe()

        words labels
count   24496  24497
unique   3568      3
top         .      O
freq     1043  23624

In [5]:
df1.describe()
(df1.isna().sum()/df1.shape[0]).sort_values(ascending=True)

labels    0.000000
words     0.000041
dtype: float64

In [6]:
df2.describe()
(df2.isna().sum()/df2.shape[0]).sort_values(ascending=True)

labels    0.000000
words     0.000041
dtype: float64

In [7]:
df1.labels = df1.labels.str.replace("I-", "", case = False).str.replace("B-", "", case = False)
df1.labels

0              O
1              O
2              O
3              O
4              O
          ...
24483    Disease
24484    Disease
24485    Disease
24486          O
24487          O
Name: labels, Length: 24488, dtype: object

In [8]:
df1.head(5)

        words labels
0  Clustering      O
1          of      O
2    missense      O
3   mutations      O
4          in      O

In [9]:
df2.labels = df2.labels.str.replace("I-", "").str.replace("B-", "")
df2.labels

0              O
1              O
2              O
3              O
4              O
          ...
24492          O
24493          O
24494    Disease
24495          O
24496          O
Name: labels, Length: 24497, dtype: object

In [10]:
custom_labels1 = list(df1.labels.unique()) 
print(custom_labels1)

['O', 'Disease']

In [11]:
custom_labels2 = list(df2.labels.unique())
print(custom_labels2)

['O', 'Disease']

In [12]:
custom_labels_finale = list(set(custom_labels1 + custom_labels2))
print(custom_labels_finale)

['O', 'Disease']

In [15]:
print(df1.shape)
print(df2.shape)

(24488, 2)
(24497, 2)

In [13]:
report = classification_report(df1['labels'], df2.labels, labels = custom_labels_finale, target_names = custom_labels_finale, output_dict = True)
print(report)

ValueError: Found input variables with inconsistent numbers of samples: [24488, 24497]